nav .navbar-brand {
	padding:0;
}
nav .navbar-brand img {
	width:50px;
}
h1 {
	color:#777;
}
#ckbk {
	display:block;
	border:1px solid #ccc;
	margin-bottom:15px;
}
.recipeDiagram {
	padding:10px 5px;
	text-align:center;
}
.recipeDiagram:nth-of-type(odd) {
	background-color:#eee;
}
.recipeDiagram + .recipeDiagram {
	border-top: 1px solid #ccc;
}
